<link rel="stylesheet" href="/css/shareAgendaWindow.css">
<div id="shareAgendaModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="shareAgenda-close-btn">&times;</span>
        <h2>Partager un agenda</h2>

        <label for="email-share">Mail de l'utilisateur à qui partager l'agenda :</label>
        <input type="email" id="email-share" name="email-share" required>
        <p id="mail-error" class="error">Erreur e-mail.</p>

        <label for="access-shared-users">Utlisateurs avec accès :</label>
        <ul id="access-shared-users">
            <li>Vous : Propriétaire</li>
            <% guests.filter(guest => guest.agendaId === 2).
            forEach(guest => { %>
                <li>
                    <div class="guest-item" data-guest-id="<%= guest.id %>">
                        <span class="username"><%= guest.getGuest().username %></span>
                        <div>
                            <button class="icon-button role-button">
                                <div style="display: inline-flex;">
                                    <span class="role-text">
                                        <%= guest.getRole() %>
                                    </span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" class="Q6yead QJZfhe mig17c "><path d="M7 10l5 5 5-5H7z"></path></svg>
                                </div>
                            </button>

                            <!-- Div cachée avec la liste des rôles -->
                            <div class="role-dropdown" style="display: none; position: absolute;">
                                <p style="font-weight: bold;">Rôle</p>
                                <ul>
                                    <li data-role="Lecteur">
                                      <span class="material-symbols-outlined check-icon" style="visibility: <%= guest.getRole() === 'Lecteur' ? 'visible' : 'hidden' %>;">
                                        check
                                      </span> Lecteur
                                    </li>
                                    <li data-role="Editeur">
                                      <span class="material-symbols-outlined check-icon" style="visibility: <%= guest.getRole() === 'Editeur' ? 'visible' : 'hidden' %>;">
                                        check
                                      </span> Editeur
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <button class="icon-button">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </div>
                </li>
            <% }) %>
        </ul>

        <label for="role-share-agenda">Rôle à attribuer :</label>
        <select id="role-share-agenda" name="role-share-agenda" required>
            <option value="Lecteur" selected>Lecteur</option>
            <option value="Editeur">Editeur</option>
        </select>
        <p id="role-error" class="error">Erreur Rôle.</p>

        <p id="other-error" class="error">Autre erreur.</p>

        <button id="shareAgendaConfirm" class="submit-btn">Partager</button>

    </div>
</div>
<script type="module" src="/js/agenda/agendaShare.js"></script>
