<!DOCTYPE html>
<html lang="fr">
<head>
    <title>KiAvenir - Mon compte</title>
</head>
<body>
<%- include('partials/header') %>
<% /* global locals */ %>

<div class="vh-100 d-flex flex-column align-items-center"> <!-- justify-content-center -->
<% if (!locals.user) { %>
    <h1 class="text-center mt-4 mb-4 fw-bold text-primary">Vous n'êtes pas connecté !</h1>
    <div>
        Vous pouvez <a href="/signin" class="link-underline link-underline-opacity-0">créer un compte</a> ou <a href="/login" class="link-underline link-underline-opacity-0">vous connecter</a> pour accéder à cette page.
    </div>
<% } else { %>
    <div class="container-fluid d-flex justify-content-center align-items-center h-100">
        <div class="row w-100">
            <div class="col-md-4">
                <!-- Formulaire pour l'avatar -->
                <h2 class="text-center mt-4 mb-4 fw-bold text-primary">Mon avatar</h2>
                <form action="/account/edit-icon" method="POST" enctype="multipart/form-data">
                    <div class="text-center">
                        <!-- <img id="userIconPreview" src="/img/default_user_icon.jpg" alt="Avatar actuel" class="figure-img img-fluid rounded border border-dark" style="max-width: 300px; max-height: 300px;"> -->
                        <canvas id="userIconPreview" class="figure-img img-fluid rounded border border-dark" style="max-width: 300px; max-height: 300px;"></canvas>
                    </div>
                    <!-- Champ pour sélectionner un fichier (on override le champ par défaut pour traduire) -->
                    <div class="mb-3 d-flex flex-column align-items-center">
                        <label for="imageUpload" class="form-label fw-bold">Choisissez une image :</label>
                        <div class="custom-file w-100 border rounded bg-white">
                            <input type="file" class="form-control" id="imageUpload" name="image" accept="image/*" style="display: none;" required>
                            <label for="imageUpload" class="btn btn-light m-0 mr-3 border">Parcourir...</label>
                            <span class="file-name text-muted">Aucun fichier sélectionné.</span>
                        </div>
                    </div>
                    <!-- Bouton de soumission -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary fw-bold">Changer mon avatar</button>
                    </div>
                </form>
            </div>
            <!-- <div class="col-md-1 vr"></div> -->
            <div class="col-md-8">
                <!-- Formulaire pour les infos du compte -->
                <h2 class="text-center mt-4 mb-4 fw-bold text-primary">Mes informations</h2>
                <form name="accountEdition" action="/account/edit" method="POST">
                    <div class="row">
                        <label for="email" class="col-md-5 col-form-label text-md-end text-start ">Votre adresse mail</label>
                        <div class="col-md-7">
                            <input type="email" class="form-control" id="email" name="email" value="<%= locals.user.email ?? '' %>" placeholder="Adresse mail">
                            <label class="form-label text-danger"><%= locals.emailTaken ?? '' %></label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="username" class="col-md-5 col-form-label text-md-end text-start ">Votre nom d'utilisateur</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="username" name="username" value="<%= locals.user.username ?? '' %>" placeholder="Nom d'utilisateur">
                            <label class="form-label text-danger"><%= locals.usernameTaken ?? '' %></label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="password" class="col-md-5 col-form-label text-md-end text-start ">Nouveau mot de passe</label>
                        <div class="col-md-7">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                            <label class="form-label text-danger" id="passwordMessage"></label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="passwordRepeated" class="col-md-5 col-form-label text-md-end text-start ">Confirmez le mot de passe</label>
                        <div class="col-md-7">
                            <input type="password" class="form-control" id="passwordRepeated" placeholder="Confirmation du mot de passe">
                            <label class="form-label text-danger" id="passwordRepeatedMessage"></label>
                        </div>
                    </div>
                    <div class="d-grid w-75 mx-auto">
                        <button type="submit" class="btn btn-primary fw-bold">Enregistrer mes modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <span class="text-center fw-bold text-danger mt-1"><%= locals.errorMessage ?? '' %></span>
</div>

<div class="d-grid gap-2 d-md-block m-3 p-3 text-end">
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteAccount">
        Supprimer mon compte
    </button>
</div>


<style>
    .modal-backdrop {
        z-index: 2 !important;
    }
</style>

<div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 20vh !important;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteAccountLabel">Voulez-vous vraiment supprimer votre compte ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger">
                Cette action est définitive !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <form action="/account/delete" method="post">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/account/accountEdition.js"></script>
<script src="/js/account/loadIconPreview.js"></script>
<% } %>
  

<%- include('partials/footer') %>
</body>
</html>