<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/agenda.css">
    <link rel="stylesheet" href="/css/newEvent.css">
</head>
<body>
<% /* global locals,agenda,agendas */ %>
<%- include('partials/header') %>

<!-- Pop Up - Création de l'agenda -->
<div id="newAgenda" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="closeViewAgendaCreation">&times;</span>
        <h2>Créer un Agenda</h2>
        <form>
            <label for="agenda-name">Nom :</label>
            <input type="text" id="agenda-name" name="agenda-name" required>

            <label for="agenda-description">Description :</label>
            <textarea  id="agenda-description" name="agenda-description" rows="3"></textarea>

            <label for="agenda-color">Couleur :</label>
            <input type="color" id="agenda-color" value="#2196f3"/>

            <p id="agenda-creation-error" style="color: red; display: none;">Le nom est requis ou bien, il est déjà pris.</p>

            <button id="saveAgenda" class="submit-btn">Créer l'agenda</button>
        </form>
    </div>
</div>

<!-- Pop Up - Modification de l'agenda -->
<div id="editAgendaModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="closeEditAgenda">&times;</span>
        <h2>Modifier l'agenda</h2>
        <form id="editAgendaForm">
            <div class="flex-container">
                <label for="new-agenda-name">Nom de l'agenda:</label>
                <input type="text" id="new-agenda-name" name="new-agenda-name" required>
            </div>
            <div class="flex-container">
                <label for="new-agenda-color">Couleur de l'agenda:</label>
                <input type="color" id="new-agenda-color" name="new-agenda-color">
            </div>
            <div class="flex-container">
                <label for="new-agenda-description">Description de l'agenda:</label>
                <textarea id="new-agenda-description" name="new-agenda-description" rows="3"></textarea>
            </div>
            <button type="submit" class="submit-btn">Mettre à jour</button>
        </form>
    </div>
</div>


<!-- Pop Up - Suppression de l'agenda -->
<div id="deleteAgendaModal" class="modal" >
    <div class="modal-content">
        <span class="close-btn" id="closeDeleteAgenda">&times;</span>
        <h2>Supprimer l'agenda</h2>
        <p>Êtes-vous sûr de vouloir supprimer cet agenda ?</p>
        <button id="confirmDeleteAgenda" class="btn btn-danger">Supprimer</button>
        <label id="deleteMessage" class="form-label text-danger"></label>
    </div>
</div>

<script type="module" src="/js/agenda/agendaCreation.js"></script>
<script>
  const agenda = {
    agendaId: "<%= agenda.agendaId %>",
    color: "<%= agenda.color %>",
    name: "<%= agenda.name %>"
  };
</script>
<script type="module" src="/js/agenda/agendaEdition.js"></script>
<script type="module" src="/js/agenda/agendasSelection.js"></script>
<link rel="stylesheet" href="/css/agenda.css">

<%- include('calendar') %>
<%- include('partials/footer') %>
</body>
</html>
