<% /* global locals,currentPath,agendas,cantEdit, err */ %>
<%
if (currentPath.includes("/agenda")) {

    cantEdit = true;
    if (agenda.ownerId === locals.user.id) {
        cantEdit = false;
    } else {
        let matchingGuests = guests.filter(guest => guest.agendaId === agenda.agendaId && guest.guestId === locals.user.id);
        if (matchingGuests.length > 0 && matchingGuests[0].role === "Editeur") {
            cantEdit = false;
        }
    }
}
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/img/favicon.ico" alt="Logo" style="width: 30px; height: 30px" class="d-inline-block align-text-top">
            <span class="ms-2">KiAvenir</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Conteneur centré pour le nom de l'agenda -->
        <% if (currentPath.includes("/agenda")) { %>
            <div style="position: absolute; left: 50%; transform: translateX(-50%); display: flex; justify-content: center; align-items: center;">
                <button class="icon-button" id="deleteAgenda">
                    <span class="material-symbols-outlined">delete</span>
                </button>

                <span class="header-title"><%= agenda.name %></span>
                <% if (agenda.ownerId === locals.user.id) {%>
                    <span class="material-symbols-outlined icon-button" id="editAgenda" title="Modifier l'agenda">edit</span>
                <% } %>
            </div>
        <% } %>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/agenda' ? 'active' : '' %>" href="/agenda">Agenda</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <% if (locals.user) { %>
                    <!-- Fenêtre modale si on est dans le /agenda -->
                    <% if (currentPath.includes("/agenda")) { %>
                        <div id="menuAgendas" class="buttons-nav">
                            <script type="module" src="/js/agenda/agendaMenu.js"></script>
                            <button class="icon-button" id="menu-button">
                                <span class="material-symbols-outlined">menu</span>
                            </button>
                            <!-- Menu déroulant - liste de tous les agendas de l'utilisateur -->
                            <div id="dropdown-menu" class="dropdown-menu" style="display: none;">
                                <h3 class="agenda-title">Mes agendas</h3>
                                <ul class="agenda-list" id="agenda-list">
                                    <% agendas.filter(agenda => agenda.ownerId === locals.user.id).
                                    forEach(agenda => { %>
                                        <li class="agenda-list"  style="<%= currentPath === '/agenda/' + (agenda.agendaId) ? 'background-color: rgba(0, 123, 255, 0.2); color: white !important;;' : '' %>">
                                            <a href="/agenda/<%= agenda.agendaId %>" data-agenda-name="<%= agenda.name %>">
                                                <span class="material-symbols-outlined" style="margin-right: 10px; font-size: 20px; color:<%= agenda.color %>">check_box</span>
                                                <%= agenda.name %>
                                            </a>
                                            <button value="<%= agenda.agendaId %>" class="icon-button" style="padding: 5px" >
                                                <span class="material-symbols-outlined" style="font-size: 20px;">share</span>
                                            </button>
                                        </li>
                                    <% }) %>
                                </ul>
                                <h3 class="agenda-title">Agendas partagées</h3>
                                <ul class="agenda-list" id="agenda-list">
                                    <% guestsShared.forEach(guest => {
                                        const agenda = agendas.find(agenda => agenda.agendaId === guest.agendaId);
                                    if (agenda) { %>
                                        <li class="agenda-list" style="<%= currentPath === '/agenda/' + agenda.agendaId ? 'background-color: rgba(0, 123, 255, 0.2); color: white !important;' : '' %>">
                                            <a href="/agenda/<%= agenda.agendaId %>">
                                                <span class="material-symbols-outlined" style="margin-right: 10px; font-size: 20px; color:<%= agenda.color %>">check_box</span>
                                                <%= agenda.name %>
                                            </a>
                                        </li>
                                    <% }
                                    }) %>
                                </ul>
                            </div>
                        </div>
                        <div id="shareOrExport" class="popUpWindow">
                            <span id="agendaName" style="text-align: center;">Agenda name</span>
                            <button id="shareAgenda">Partager l'agenda</button>
                            <button id="exportAgenda" style="background-color: green;">Exporter agenda</button>
                        </div>
                        <script type="module" src="/js/agenda/events/Events.js"></script>
                        <button class="icon-button" id="createAgendaOrEvent">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                        </button>
                        <div id="agendaEventWindow" class="popUpWindow">
                            <button id="createAgenda">Nouvel agenda</button>
                            <button id="createEvent">Nouvel événement</button>
                        </div>
                    <% } %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/img/account.jpg" alt="Logo" style="width: 30px; height: 30px" class="d-inline-block align-text-top">
                            <span class="ms-2"><%= locals.user.username %></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item <%= currentPath === '/account' ? 'active' : '' %>" href="/account">Mon compte</a></li>
                            <li><a class="dropdown-item <%= currentPath === '/agenda' ? 'active' : '' %>" href="/agenda">Mes agendas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <script type="module" src="/js/account/logout.js"></script>
                                <a id="logout_link" class="dropdown-item"  href="#">Déconnexion</a>
                                <form id="logoutForm" action="/account/logout" method="POST" style="display: none;">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                </form>
                            </li>
                        </ul>
                    </li>
                    <% if(currentPath.includes("/agenda")) { %>
                        <!-- Fenêtre modale ajout événement -->
                        <%- include('modals/newEvent') %>
                        <!-- Fenêtre modale partager un agenda -->
                        <%- include('modals/shareAgenda') %>
                    <% } %>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-separator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Inscription</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
