<% /* global locals,currentPath,agendas, err */ %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/fr.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-body-secondary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/img/favicon.ico" alt="Logo" style="width: 30px; height: 30px" class="d-inline-block align-text-top">
            <span class="ms-2">KiAvenir</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Conteneur centré pour le nom de l'agenda -->

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/agenda' ? 'active' : '' %>" href="/agenda">Agenda</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <% if (locals.user) { %>
                    <!-- Fenêtre modale si on est dans le /agenda -->
                    <% if (currentPath.includes("/agenda")) { %>
                        <!-- Barre de recherche -->
                        <div class="search-container search-bar">
                            <input  type="text" id="eventSearch" class="form-control search-container search-bar" placeholder="Chercher un événement">
                            <div id="searchResults" class="modal-container" style="display: none">
                                <div id="searchResults" class="searc-result-content">
                                    <ul id="eventList"></ul>
                                    <p id="noResultsMessage" style="display: none;">Aucun événement trouvé.</p>
                                </div>
                            </div>
                            <script type="module" src="/js/agenda/events/eventSearch.js"></script>
                        </div>

                        <div class="search-bar">
                            <input type="text" id="filterInput" class="form-control" placeholder="Filtrer par nom">
                        </div>

                        <button class="icon-button" id="createAgendaOrEvent">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                        </button>
                        <div id="agendaEventWindow" class="popUpWindow">
                            <button id="createAgenda">Nouvel agenda</button>
                            <button id="createEvent">Nouvel événement</button>
                            <button id="importAgenda">Importer un agenda</button>
                        </div>
                    <% } %>

                    <!-- Dropdown pour les notifications -->
                    <script type="module" src="/js/notifications/notifications.js"></script>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle position-relative" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-symbols-outlined">notifications</span>
                            <!-- Badge pour le nombre de notifications -->
                            <span class="position-absolute top-0 start-70 translate-middle badge rounded-pill bg-danger" id="notification-count" style="display: none">
                                0
                            </span>
                        </a>
                        <!-- Liste des notifications  avec le dataset-user-id pour les requêtes -->
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="notification-list">
                            <!-- Liste des notifications -->
                        </ul>
                    </li>

                    <!-- Dropdown pour le compte utilisateur -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="d-inline-block align-text-top img-fluid rounded-circle" id="userIcon" width="30" src="/img/default_user_icon.jpg" alt="Logo" data-user-id="<%= locals.user.id %>">
                            <!-- style="width: 30px; height: 30px"  -->
                            <span class="ms-2"><%= locals.user.username %></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item <%= currentPath === '/account' ? 'active' : '' %>" href="/account">Mon compte</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <script type="module" src="/js/account/logout.js"></script>
                                <a id="logout_link" class="dropdown-item"  href="#">Déconnexion</a>
                                <form id="logoutForm" action="/api/account/logout" method="POST" style="display: none;">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                </form>
                            </li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-separator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Inscription</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
